frontend/.next
frontend/_next
frontend/node_modules
frontend/dist
frontend/5000
frontend/log/capistrano.log

!backend/log/.keep
!backend/tmp/.keep
backend/.bundle
backend/log/*
backend/tmp/*
backend/storage/*
backend/node_modules
backend/yarn-error.log
backend/public/assets
backend/.byebug_history
backend/config/master.key
backend/public/packs
backend/public/coverage
backend/public/packs-test
backend/yarn-debug.log*
backend/.yarn-integrity
