.l-elastic {
  overflow: hidden;
  &--divided {
    .l-elastic__div:not(:last-child) {
      border-right: 1px solid rgba(0,0,0, 0.1);
      height: 100%;
    }
  }
  &__div {
    float: left;

    &--text_right {
      text-align: right;
    }
    &--text_center {
      text-align: center;
    }
    &--25 {
      width: 25%;
    }
    &--33 {
      width: 33.33%;
    }
    &--50 {
      width: 50%;
    }
    &--66 {
      width: 66.66%;
    }
    &--75 {
      width: 75%;
    }
  }
}