<p>Thank you for joining GuessGoals. Please confirm your email address by clicking on the link below.</p>
<a href="<%= @link %>"><%= @link %></a>
<p>If you did not sign up for an account at guessgoals.com, please disregard this email.</p>
Enjoy Betting, <br>
GuessGoals Support