<p><strong><%= @match_name %></strong> was started. Prize pool is <strong><%= @real_prize %> BTC</strong> and your chance is about <strong><%= @real_chance %> percent</strong>.</p>

<p>You now can review all the bets placed on this match by visiting the match page from <strong>My bets</strong> section on GuessGoals website.</p>
Thank You, <br>
GuessGoals Support