<p>Your payout request of <strong><%= @amount %> BTC</strong> was received and is being processed. We will let you know once we created your payout transaction.</p>

Thank You, <br>
GuessGoals Support