<p>Your bet on <strong><%= @match_name %></strong> was declined due to funds used were not confirmed on time.</p>

<p>We put the ticket fee back to your wallet and we will wait for the initial credit transaction to be confirmed.</p>

<p>Feel free to use this unconfirmed credit towards betting on matches available on GuessGoals website. Just keep in mind that we require one block confirmation of your credit transaction before the match you play on starts.</p>

Thank You, <br>
GuessGoals Support