<p>Congratulations. Your bet on <strong><%= @match_name %></strong> won <strong><%= @prize_share %> BTC</strong>. Feel free to withdraw your prize any time or use it towards playing more games.</p>

<p>Don't forget to review the ranking list of all the bets placed on this match by visiting the match page from <strong>My bets</strong> section on GuessGoals website.</p>
Thank You, <br>
GuessGoals Support