<p><strong><%= @match_name %></strong> was finished and your bet was ranked <%= @play_rank %>.</p>

<p>You now can review the ranking list of all the bets placed on this match by visiting the match page from <strong>My bets</strong> section on GuessGoals website.</p>

Thank You, <br>
GuessGoals Support